<h2>A new Todo</h2>
<div class="form-group">
  <form action="/todos" method="post">
    Title:<br>
    <p><input type="text" name="title"><br></p>
    Todo:<br>
    <p><textarea rows="10" cols="20" name="todo"></textarea></p>
    Status:<br>
    <p><input type="radio" name="status" value="pending"> &nbsp;  &nbsp; Pending</p>
    <p><input type="radio" name="status" value="done"> &nbsp;  &nbsp; Done</p>
      <img src="http://www.htmldog.com/badge1.gif" width="120" height="90" alt="HTML Dog">
      <p><input type="submit"></p>
  </form>
</div>

